body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 70px;
}
.topblock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abf7b1;
    width: 100%;
    height: 7%;
}
